.post-wrapper {
    width: 95%;
    display: inline-block;
    text-align: left;
}
.post-content {
    overflow: auto;
    max-height: 500px;
}
.post-info {
    padding-top: 0.5em;
    border-top: 1px solid rgba(0,0,0,.125);
}
.post-info-user {
    width: 50%;
    display: inline-block;
    text-align: left;
}
.post-info-date {
    width: 50%;
    display: inline-block;
    text-align: right;
}
.post-buttons {
    width: 5%;
    overflow: auto;
    display: inline-block;
    text-align: right;
}